<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/style.css" />
		<title>Le Bon Plan</title>
	</head>
	<body>
		<header>
			<nav>
				<a href="/">Accueil</a>
				{{#if isLoggedIn}}
				<a href="/user/profil">Espace Perso</a>
				{{else}}
				<a href="/user/login">Se connecter</a>
				<a href="/user/register">S'inscrire</a>
				{{/if}}
			</nav>
		</header>
		{{{body}}}
	</body>
</html>