<h1>Accueil</h1>

<h2>Regardez les offres pour ces villes</h2>

<ul>
    <li><a href="/products/paris">Paris</a></li>
    <li><a href="/products/lyon">Lyon</a></li>
    <li><a href="/products/marseille">Marseille</a></li>
</ul>