<h1>Connexion</h1>

<h2>connectez-vous pour acceder a votre compte d'utilisateur</h2>

<form action="/user/login" method="POST">
    <label for="userName">Nom d'utilisateur</label>
    <input type="text" name="userName">
    <label for="password">Mot de passe</label>
    <input type="password" name="password">
    <input type="submit">
</form>