<h1>S'inscrire</h1>

<h2>Inscrivez-vous pour bénéficier de nos fonctionnalités exclusives</h2>

<form action="/user/register" method="POST">
    <label for="userName">Nom d'utilisateur</label>
    <input type="text" name="userName">
    <label for="password">Mot de passe</label>
    <input type="password" name="password">
    <button>m'inscrire</button>
</form>